.ChallengePuzzle {
  margin: 1rem; }
  .ChallengePuzzle__board {
    display: flex;
    flex-wrap: wrap; }
  .ChallengePuzzle__tile {
    cursor: pointer;
    padding: 2rem 0;
    text-align: center; }
    .ChallengePuzzle__tile--empty {
      cursor: default; }
  .ChallengePuzzle__success {
    padding: 2rem 0;
    text-align: center; }
