.ChallengePuzzle {
  margin: 1rem;

  &__board {
    display: flex;
    flex-wrap: wrap;
  }

  &__tile{
    cursor: pointer;
    padding: 2rem 0 ;
    text-align: center;
    
    &--empty {
      cursor: default;
    }
  }

  &__success {
    padding: 2rem 0 ;
    text-align: center;
  }
  
}