html {
  background: #f9f9f9; 
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 720px) { 
  html {
    font-size: 16px;
  }
}

@media (min-width: 1024px) { 
  html {
    font-size: 18px;
  }
}